<div class="section">
    <div class="details">
        <form class="profileForm" [formGroup]='profileForm' (ngSubmit)="submit()">
            <img alt="" class="pic" [src]=" userProfilePic ">

            <label for="name">Name</label>
            <input type="text" formControlName="userName" id="name">
            <div *ngIf="profileForm.get('userName').value == '' "> Enter name </div>

            <label for="gender">Gender</label>
            <select formControlName="gender" id="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>

            <label for="address">Address</label>
            <textarea formControlName="address" id="address" cols="30" rows="10"></textarea>
            <div *ngIf="profileForm.get('address').value == '' "> Enter address </div>

            <label for="profile">Change profile picture</label>
            <input type="file" (change)='getImage($event)' formControlName="picture" id="profile">

            <input type="button" type="submit" value="Save" [disabled]='profileForm.invalid'>
            <div *ngIf="sub">Successfully changed details</div>
        </form>
        <a routerLink='/dashboard'>Back</a>
    </div>
</div>