.section {
    padding: 120px;
    text-align: center;
}

.signUpform {
    width: 245px;
    margin: auto;
}

textarea {
    margin-top: 20px;
}

a {
    display: block;
}

input {
    height: 40px;
    margin: 10px;
    padding: 5px;
}

label {
    display: block;
}

textarea {
    margin-bottom: 20px;
}

#profilePic {
    margin-top: 3px;
}

#genderLabel {
    margin-top: 20px;
}