<div class="section">
    <div class="form-group">
        <h1>Enter Details to Register</h1>
        <form class="signUpform" [formGroup]='signUpform' (ngSubmit)="submit()">

            <input type="text" formControlName="userName" placeholder="Enter Name" name="name">
            <div style="color: red;" *ngIf=" !signUpform.get('userName').valid && signUpform.get('userName').touched">Enter Name</div>

            <input type="email" formControlName="UserEmail" placeholder="Enter email" name="email">
            <div style="color: red;" *ngIf=" !signUpform.get('UserEmail').valid && signUpform.get('UserEmail').touched && signUpform.get('UserEmail').value != '' ">Enter correct Email</div>
            <div style="color: red;" *ngIf="signUpform.get('UserEmail').value =='' && signUpform.get('UserEmail').touched">Enter Email</div>

            <input type="password" formControlName="password" placeholder="Enter password" name="password" id="">
            <div style="color: red;" *ngIf="signUpform.get('password').value =='' && signUpform.get('password').touched">Enter Password</div>
            <div style="color: red;" *ngIf=" !signUpform.get('password').valid && signUpform.get('password').touched && signUpform.get('password').value != '' ">Password should be of Minimum 4 characters</div>

            <input type="password" formControlName="repeatPassword" placeholder="Enter repeat password" name="repeatPassword" id="">
            <div style="color: red;" *ngIf="signUpform.get('repeatPassword').value =='' && signUpform.get('repeatPassword').touched">Enter Password</div>
            <div style="color: red;" *ngIf="signUpform.get('repeatPassword').value != signUpform.get('password').value     && signUpform.get('repeatPassword').touched">Password and repeat password dont match</div>
            <div style="color: red;" *ngIf=" !signUpform.get('repeatPassword').valid && signUpform.get('repeatPassword').touched && signUpform.get('repeatPassword').value != '' ">Password should be of Minimum 4 characters</div>

            <label id="genderLabel" for="gender">Select a gender</label>
            <select name="gen" id="gender" formControlName="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>

            <textarea name="address" formControlName="address" placeholder="Enter address" id="" cols="30" rows="10"></textarea>
            <div style="color: red;" *ngIf="signUpform.get('address').value =='' && signUpform.get('address').touched">Enter address</div>

            <label for="profilePic">Select a profile picture</label>
            <input type="file" name="" formControlName="profile" (change)='getImage($event)' id="profilePic">
            <div style="color: red;" *ngIf="signUpform.get('profile').value =='' && signUpform.get('profile').touched">Select Profile picture</div>
            <div style="color: red;" *ngIf="duplicate">Email Exists</div>
            <div style="color: red;" *ngIf="!duplicate && duplicate != null">User Registered Successfully</div>

            <input type="button" type="submit" value="Register" [disabled]='signUpform.invalid'>

            <a href="#" routerLink="/login">Already have account?</a>
        </form>
    </div>
</div>