<div class="navbar">
    <ul>
        <li> <a href="#" routerLink="/profile">Profile</a> </li>
        <li> <a href="#" routerLink="/todo">Add todo</a> </li>
        <li> <a href="#" (click)="logout()">Logout</a> </li>
    </ul>
</div>
<div class="section">
    <div class="table">
        <form>

            <table border="1">
                <tr>
                    <th> <button type="button" (click)="delete()">Delete</button> </th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr *ngFor="let items of userTodo; let index = index ">
                    <td>
                        <input type="checkbox" id='{{ index }}' (click)="find($event.target.id)">
                    </td>
                    <td> {{ items.taskName }} </td>
                    <td>{{ items.taskType }} </td>
                    <td>{{ items.endDate }} </td>
                    <td>{{ items.status }} </td>
                    <td> <button type="button" id='{{ index+ "2" }}' [disabled]="(items.status == 'Done' )" (click)="edit($event.target.id)">Edit</button></td>
                    <td> <button type="button" id='{{ index+ "1" }}' [disabled]="(items.status == 'Done' )" (click)="done($event.target.id)">Done</button> </td>
                </tr>
            </table>
        </form>
    </div>
</div>